@{
    ViewData["Title"] = "Home Page";
}
<style>
    footer {
        position: fixed;
        background-color: white;
        color: black;
        z-index: 1000;
    }

    body {
        background-image: url("/Images/anhco.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 999;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        z-index: 1001;
    }

</style>
@* <div>
    <img src="/Images/anhco.jpg" class="body" alt="Hinh">
</div> *@